.products {
    @media (max-width: 900px) {
        .title {
            flex-direction: column;
            h2 {
                &::after {
                    display: none;
                }
            }
        }
        .info {
            justify-content: center;
        }
        .content {
            justify-content: center;
            .cart {
                width: 48%;
                margin: 5px;
            }
        }
    }
    @media (max-width: 760px) {
        .content {
            .cart {
                width: 100%;
                height: 100%;
                margin: 5px;
            }
        }
    }
}