.main {
    @media (max-width: 780px) {
        & {
            padding-top: 300px;
            background-position: 30% top;
        }
        .content {
            align-items: center;
            * {
                text-align: center;
            }
        }
    }
    @media (max-width: 600px) {
        & {
            padding-top: 300px;
        }
        .content {
            align-items: center;
            * {
                text-align: center;
            }
            .title {
                width: 100%;
            }
            .descriptor {
                width: 100%;
            }
            .offer {
                width: 100%;
            }
        }
    }
    @media (max-width: 540px) {
        & {
            padding-top: 300px;
        }
        .content {
            .btns {
                flex-direction: column;
                .btn {
                    &:first-child {
                        margin-right: 0;
                    }
                    &:last-child {
                        margin-top: 10px;
                        padding: 18px 50px;
                    }
                }
            }
        }
    }
}