.main {
    @media (max-width: 780px) {
        & {
            padding-top: 300px;
        }
        .content {
            align-items: center;
            * {
                text-align: center;
            }
            .offer {
                color: #FFB320;
            }
        }
    }
    @media (max-width: 600px) {
        & {
            padding-top: 300px;
        }
        .content {
            align-items: center;
            * {
                text-align: center;
            }
            .title {
                width: 100%;
            }
            .descriptor {
                width: 100%;
            }
            .offer {
                width: 100%;
                color: #FFB320;
            }
        }
    }
}