@import '../../../../assets/scss/const.scss';
.map {
    @media (max-width: 1600px) {
        &::before {
            display: none;
        }
    }
    @media (max-width: 960px) {
        .content {
            .text {
                flex-direction: column;
                text-align: center;
                align-items: center;
                .title {
                    width: 100%;
                    align-items: center;
                    margin-bottom: 20px;
                    &::after {
                        display: none;
                    }
                }
                .description {
                    width: 60%;
                    &::before {
                        content: '';
                        position: absolute;
                        left: 0;
                        bottom: -24px;
                        width: 100%;
                        height: 4px;
                        background: $textHover;
                    }
                }
            }
        }
    }
}