@import '../../../../assets/scss/const.scss';
.map {
    position: relative;
    width: 100%;
    padding-top: 90px;
    background: url(../../../../assets/img/bg3.svg), linear-gradient(180deg, #F2F2F2 0%, #F2F2F2 100%);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 9999;
    &::before {
        content: '';
        position: absolute;
        top: 60px;
        right: 0;
        width: 128px;
        height: 228px;
        background: url(../../../../assets/img/sheben2.png);
    }
    .content {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        .text {
            width: 100%;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            .title {
                position: relative;
                width: 40%;
                font-size: 32px;
                font-weight: 900;
                color: $textColor;
                display: flex;
                align-items: flex-start;
                &::after {
                    position: absolute;
                    right: -100px;
                    content: '';
                    width: 33px;
                    height: 36px;
                    background: url(../../../../assets/img/title-geometry.svg) no-repeat;
                    background-position: center;
                }
            }
            .description {
                position: relative;
                width: 40%;
                &::before {
                    content: '';
                    position: absolute;
                    left: -24px;
                    width: 4px;
                    height: 100%;
                    background: #ffb320;
                }
                p {
                    margin: 0;
                    font-weight: 400;
                    color: $textColor2;
                    &:last-child {
                        margin-top: 20px;
                    }
                }
            }
        }
        #map {
            margin-top: 90px;
            width: 100%;
        }
    }
}